body {
    background-color: #f0f0f5;
}

#hci-logo {
    width: 120px;
    height: auto;
    float: right;
    margin-top: -10px;
}

#hci-name {
    color: #00215f;
    font-family: 'Times New Roman';
    font-weight: bolder;
}

.panel {
    background-color: white;
    height: 500px;
    box-shadow: 2px 2px 5px grey;
    border-radius: 15px;
    padding: 30px;
}

#login-container {
    height: auto;
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#login-pane {
    background-color: white;
    height: 350px;
    padding: 2%;
    margin-top: 0px;

    display: flex;
    justify-content: center;
}

#login-form {
    width: 100%;
    margin-left: 30%;
    margin-right: 30%;
}

#login-pane-ribbon {
    color: white;
    font-family: 'Times New Roman';
    letter-spacing: .2rem;
    padding: 2%;
    background-color: #00215f;
    margin-bottom: 0px;
}

.error_message {
    color:red;
    float: right;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }

#register-pane {
    background-color: white;
    min-height: 350px;
    height: 350px;
    padding: 2%;
    margin-top: 0px;

    display: flex;
    justify-content: center;
}

#new-section-pane {
    background-color: white;
    height: 350px;
    padding: 2%;
    margin-top: 0px;

    display: flex;
    justify-content: center;
}

#register-form {
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

#sections-listbox {
    border-radius: 15px;
    height: 100px;
    padding: 5px;
    overflow-y: auto;
}

#emp_listbox{
    border-radius: 15px;
    height: 200px;
    padding: 5px;
    overflow-y: auto;
    border: 1px solid gray;
    border-radius: 0%;
}

#unauth-pane {
    background-color: white;
    height: 350px;
    padding: 2%;
    padding-top: 10%;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
}

.evaluation-pane {
    height: auto;
    overflow-y: auto;
}

.comment_field {
    margin-left: 10px;
    margin-right: 10px;
    resize: none;
}

#deleteAccountBtn {
    margin-top: 10px;
}

#master-home-panel {
    height: 500px;
}

.custom_btn {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #ffc300;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;

    width: 200px;
    margin: 25px;
    margin-bottom: 20px;

    margin-top: 20px;
}

.custom_btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.custom_btn:active {
    transform: translateY(-1px);
  }

#sectionInputText {
    margin-bottom: 10px;
}

#master-reset-emp {
    margin-left: 15%;
    margin-right: 15%;
}

#searchResultBox {
    border-radius: 15px;
    height: 250px;
    padding: 5px;
    overflow-y: auto;
    border: none;
    border-radius: 0%;
}

#searchResultRow .row {
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 2px -2px gray;
}

#searchResultRow a {
    text-decoration: none;
}

#manage-emp-pane {
    background-color: white;
    height: 400px;
    padding: 2%;
    margin-top: 0px;

    display: flex;
    justify-content: center;
}

#factorBox {
    border-radius: 15px;
    padding: 5px;
    border: none;
    border-radius: 0%;
}

#factorRow{
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 2px -1px gray;
}

#factor-textarea {
    height: 150px;
    overflow-y: auto;
}

.reportsBox {
    margin-top: 10px;
    overflow-y: auto;
    height: 270px;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: 0%;
    margin-right: 0%;
}

.emp-row {
    margin: 0px;
    margin-top: 10px;
    padding: 0px;
}

#reportsLabel {
    margin-top: 10px;
    margin-bottom: 0px;
    
}

.s-all-row {
    margin-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0 2px 2px -2px gray;
}

#exportBtn input {
    margin-top: 15px;
    float: right;
}

#comments-emp-name {
    vertical-align: text-bottom;
}

#fLabel {
    cursor: pointer;
}

#offcanvasRight {
    max-width: 20%;
}

#siganture {
    margin-left: 10px;
}

#siganture p {
    font-size: 10px;
}

#menu-ribbon {
    color: white;
    letter-spacing: .2rem;
    padding: 2%;
    background-color: #00215f;
    margin-bottom: 0px;
}

#menu-ribbon h5 {
    margin: 5px;
}

#menu-link {
    font-size: 24px;
    letter-spacing: 2.5px;
    font-weight: 500;
}